<ion-header>
  <ion-toolbar color="danger"> </ion-toolbar>
</ion-header> 

<ion-content>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center>
        <div text-center>
          <h4>Sign In</h4>
        </div>
        <div padding>
          <ion-item>
            <ion-label position="floating">Username</ion-label>
            <ion-input
              type="text"
              [(ngModel)]="userName"
              placeholder=""
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input
              type="password"
              [(ngModel)]="password"
              placeholder=""
            ></ion-input>
          </ion-item>
        </div>

        <div>
          <ion-button expand="block" color="primary" (click)="login()"
            >Login
          </ion-button>
          <ion-button expand="block" color="danger" (click)="goToSettigs()"
            >Register</ion-button
          >
          <!-- <ion-button expand="block" color="warning" (click)="goToHome()"
            >Home
            <ion-icon slot="icon-only" name="home"></ion-icon> -->
          
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
