<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button text="Back"></ion-back-button>
    </ion-buttons>
    <ion-title>Upload</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row >
          <ion-col >
              <ion-img src="https://images.unsplash.com/photo-1556321977-2e821e8ce5ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"></ion-img>
          </ion-col>
        </ion-row>
    <ion-row>
      <ion-col>
        <input type="file" id="myFile" />
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col offset="6" >
        <ion-icon name="camera"></ion-icon>
      </ion-col>
    </ion-row>
   
  </ion-grid>
</ion-content>
